spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    driver-class-name: oracle.jdbc.OracleDriver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  access-expiration: 7200000        # 2시간
  refresh-expiration: 2592000000    # 30일

file:
  upload:
    path: /app/upload

cors:
  allowed-origins: "*"
