spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

  data:
    redis:
      enabled: false
      host: localhost
      port: 6379

jwt:
  secret: local-secret-key-local-secret-key-local-secret-key
  access-expiration: 7200000      	# 2시간
  refresh-expiration: 2592000000  	# 30일


file:
  upload:
    path: ./upload

cors:
  allowed-origins: "*"
