spring:
  profiles:
    active: dev

server:
  port: 17010
  shutdown: graceful

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: VARCHAR
    default-statement-timeout: 25000
  mapper-locations: classpath*:mapper/mybatis/**/*.xml
  type-aliases-package: com.example.project.domain
