spring:
  profiles:
    active: ${ENV:local}

server:
  port: 17010
  shutdown: graceful

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
